<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Genarate random user</h1>

    <button id="b1">Genarate</button>
</body>
</html>
<script>
    const btn1 = document.getElementById("b1");
    btn1.addEventListener('click', e => {
        getRandomUser();
    })

    function getRandomUser () {
        const result = fetch("/home")
        result.then(res => res.json()).then(d => {
            console.log(d)
        })
    }
</script>